language: php
sudo: true
php:
  - 7.1
  - 7.2
  - 7.3
before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev --ignore-platform-reqs
script:
  - ./vendor/bin/phpunit
after_success:
  - travis_retry php vendor/bin/php-coveralls -v

cache:
  directories:
    - $HOME/.composer/cache/files
